.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center; 
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  gap: 15px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 70px;
}

.footer-info h4 {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 80px;
}

.social-links a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ff4c4c;
}

.footer-rights,
.footer-credits {
  text-align: center;
  margin-top: 20px; 
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .footer-info {
    margin: 0; 
  }

  .footer-info h4 {
    font-size: 1.1rem;
  }

  .footer-info p {
    font-size: 0.85rem;
  }

  .social-links {
    margin: 0; 
    gap: 15px; 
  }

  .social-links a {
    font-size: 1.2rem; 
  }
}

@media (max-width: 480px) {
  .footer-info h4 {
    font-size: 1rem;
  }

  .footer-rights,
  .footer-credits {
    font-size: 0.8rem;
  }

  .footer-info p {
    margin: 5px 0; 
  }

  .social-links {
    gap: 8px;
  }

  .social-links a {
    font-size: 1rem; 
  }
}
