/* Hero.css */

/* Estilo geral */
.hero {
  position: relative;
  width: 100%;
  height: 70vh; /* Altura padrão */
  overflow: hidden;
  margin-top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.carousel-image:hover {
  transform: scale(1.05);
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  z-index: 10;
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-pagination-bullet {
  background: #ff6b6b;
}

.swiper-pagination-bullet-active {
  background: #ff4c4c;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .hero {
    height: 50vh; /* Altura menor para telas médias */
  }
}

@media (max-width: 768px) {
  .hero {
    height: 40vh; /* Altura ainda menor para dispositivos móveis */
  }

  .carousel-image {
    border-radius: 5px; /* Bordas arredondadas menores para dispositivos móveis */
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 18px; /* Tamanho menor dos botões de navegação */
  }

  .swiper-pagination {
    bottom: 5px; /* Ajusta a posição dos bullets para telas menores */
  }
}

@media (max-width: 480px) {
  .hero {
    height: 30vh; /* Altura ainda menor para telas pequenas */
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 16px; /* Tamanho ainda menor dos botões de navegação */
  }
}
