/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f4f4f4; 
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo img {
  width: 60px; 
  border-radius: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px; 
  transition: color 0.3s; 
}

.nav-links a:hover {
  color: #ff6b6b; 
}

.active-link {
  font-weight: bold;
}

.navbar-button {
  background-color: #ff6b6b; 
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.navbar-button:hover {
  background-color: #ff4c4c; 
}

.menu-toggle {
  display: none;
  background: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 40px; 
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    padding: 10px 0; 
    z-index: 100; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

  .nav-links a {
    padding: 15px; 
    text-align: center;
    width: 100%; 
  }

  .nav-links.active {
    display: flex; 
  }

  .menu-toggle {
    display: block; 
    margin-left: auto;

  }

  .navbar-button {
    display: none; 

  }

  .logo img {
    width: 40px;
  }
}
