/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  background-color: #f4f4f4; /* Cor de fundo da navbar */
  position: relative;
}

.logo img {
  width: 60px; /* Ajuste o tamanho da logo */
  border-radius: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Espaçamento entre os links */
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.active-link {
  font-weight: bold;
}

.navbar-button {
  background-color: #ff6b6b; /* Cor do botão "Reservar" */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o menu hamburguer */
.menu-toggle {
  display: none; /* Oculta o botão no desktop */
  background: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Esconde os links por padrão */
    flex-direction: column; /* Coloca os links em coluna */
    align-items: center;
    position: absolute;
    top: 40px; /* Abaixo da navbar */
    left: 0;
    right: 0;
    background-color: #f4f4f4; /* Cor de fundo da navbar */
    padding: 10px 0; /* Preenchimento superior e inferior */
    z-index: 100; /* Coloca os links acima de outros elementos */
  }

  .nav-links a {
    padding: 30px;
    text-align: center;
  }

  .nav-links.active {
    display: flex; /* Mostra os links quando o menu está aberto */
  }

  .menu-toggle {
    display: block; /* Mostra o botão no mobile */
  }

  .navbar-button {
    display: none;
  }

  .logo img {
    width: 40px;
  }
}
